<!doctype html>
<html lang="en">

<head>
    <title>Sign up</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/item.css" rel="stylesheet">
    
</head>

<body>
    <div class="d-flex flex-lg-row  align-items-center p-3 px-md-4 mb-3 bg-white flex-column border-bottom">
        <h5 class="my-0 mr-md-auto font-weight-normal" href=>Evan's Terrible Web Store</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="/myStocks-2.0.3.RELEASE/#">Home</a>
            <a class="p-2 text-dark" href="/myStocks-2.0.3.RELEASE/views/profile.html">Profile</a>
            <a class="p-2 text-dark" href="/myStocks-2.0.3.RELEASE/views/cart.html">Cart</a>
        </nav>
        <a class="btn btn-outline-primary" href="/myStocks-2.0.3.RELEASE/views/signin.html">Log In</a>
    </div>

    <div class="container" id="myparent">

        
    </div>
    <div class="text-right" id="footer">

    </div>

    <script src="../js/favorites.js"></script>

</body>

</html>