<!doctype html>
<html lang="en">

<head>
    <title>Sign up</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/profile.css" rel="stylesheet">
</head>

<body>
    <div class="d-flex flex-lg-row flex-column align-items-center p-3 px-md-4 mb-3 bg-white border-bottom">
        <h5 class="my-0 mr-md-auto font-weight-normal" href=>Evan's Terrible Web Store</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="/myStocks-2.0.3.RELEASE/#">Home</a>
            <a class="p-2 text-dark" href="/myStocks-2.0.3.RELEASE/views/profile.html">Profile</a>
            <a class="p-2 text-dark" href="/myStocks-2.0.3.RELEASE/views/cart.html">Cart</a>
        </nav>
        <a class="btn btn-outline-primary" href="/myStocks-2.0.3.RELEASE/views/signin.html">Log In</a>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <h1 id="myparent">Cart and Order History</h1>
            </div>
            <div class="col">
                <form class="form-signin">
                    <ul id="currentInfo">
                        
                    </ul>
                    <h1 class="h3 mb-3 font-weight-normal" id="targ">Edit Profile</h1>
                    <input type="username" id="email" class="form-control" placeholder="Update Email" required>
                    <input type="username" id="fname" class="form-control" placeholder="Update First Name" required>
                    <label for="Last Name" class="sr-only">Edit Last Name</label>
                    <input type="username" id="lname" class="form-control" placeholder="Update Last Name" required>
                    <button type="button" class="btn btn-lg btn-primary btn-block" id="sign-in">Update</button>
                </form>
            </div>


        </div>
    </div>



    <script src="../js/profile.js"></script>
</body>

</html>