<!doctype html>
<html lang="en">

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
  <title>My Stocks</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/mainPage.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
</head>

<body style='font-family: "Roboto", sans-serif;'>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal" style="letter-spacing:1.5px; text-transform: uppercase;">My Stocks</h5>
    <nav class="my-2">
      <a class="p-2 text-dark" style="font-weight: 700; letter-spacing:1.5px; text-transform: uppercase;" href="/myStocks-2.0.3.RELEASE/#">Home</a>
      <a class="p-2 text-dark" style="letter-spacing:1.5px; text-transform: uppercase;" href="/myStocks-2.0.3.RELEASE/views/profile.html">Profile</a>
      <a class="p-2 text-dark" style="letter-spacing:1.5px; text-transform: uppercase;" href="/myStocks-2.0.3.RELEASE/views/favorites.html">Favorites</a>
    </nav>
    <a class="btn btn-outline-primary" style="font-weight: 700; letter-spacing:1.5px; text-transform: uppercase;" id="logged" href="/myStocks-2.0.3.RELEASE/views/signin.html">Log In</a>
  </div>
  
  <div class="container" id="myparent">

  </div>

  
  

  <script src="js/bootstrap.min.js"></script>
  <script src="js/holder.min.js"></script>
  <script src="js/stock.js"></script>

  <script>
  </script>
</body>

</html>